.skills {
    width: 100%;
}

.skill-text {
    margin-bottom: 1rem;
    font-size: 30px;
    color: #2966ab;
}

.skills-wrapper img {
    padding: 1.25rem;
}

.icon {
    width: 5.25rem;
    height: 5.25rem;
}

.home p {
    align-items: flex-start;
}

.project-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    float: right;
}

.project-container p {
    font-size: var(--p-font);
    font-family: var(--font-family);
    color: grey;
    line-height: 30px;
}

.project-btn {
    font-size: 20px;
}

.project-skills {
    text-align: center;
    float: right;
}

.div-btn {
    display: inline-block;
    padding: 14px 34px;
    color: #b6bfc0ff;
    font-size: 16px;
    font-weight: 600;
}

.avatar {
    border-radius: 10%;
    margin: auto;
    margin-top: 3%;
}
.share{
    position: relative;
    left: auto;
    margin-bottom: 5%;
}