.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 9rem;
}
.skill-text {
    margin-bottom: 1rem;
}
  
.skills-wrapper img {
    padding: 1.25rem;
}
.icon {
    width: 9.875rem;
    height: 9.25rem;
}
.home p{
    align-items: flex-start;
}
.project-container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.project-container p {
    font-family: 'Lato', sans-serif;
    color: #fff;

}
.project-btn {
    background-color: #303030;
    width: 200%;
    height: 200px;
    border-radius: 10px;
    display: flex;
    transition: transform 0.3s ease;
}
.project-info h3{
    margin-left: 10px;
}