body {
  overflow-y: scroll;
}

section a {
  text-decoration: none;
}

section h2 {
  margin-top: auto;
  text-align: center;
  align-items: center;
}

.project-container {
  align-items: center;
  padding-top: 40px;
  background-color: #dddaca ;
  border-radius: 10px;
  width: 120%;
}
.project-container:hover {
  transition: all ease .45s;
  transform: scale(1.05);
}
.project-container p {
  font-size: var(--p-font);
  font-family: var(--font-family);
  color: #fff;

}

.project-btn {
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.project-btn:hover {
  transition: all ease .45s;
  transform: scale(1.05);
}

.project-info a {
  color: #2966ab;

  text-decoration: none;
}

.project-info a :visited {
  text-decoration: none;
  color: #2966ab;
}

.project-info h1 {
  font-family: 'Archivo', sans-serif;
  font-size: 24px;
  color: #2966ab;
  margin: 0;

}

.project-desc {
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}

.project-desc p {
  font-size: var(--p-font);
  font-family: var(--font-family);
  color: grey;
  line-height: 30px;
}

.projects {
  align-items: center;
  padding-top: 100px;
}

.home {
  display: flex;
  flex-direction: column;
  text-align: center;
  float: right;

}

.home h1 {
  color: #2966ab;
  font-size: 30px;
}
